JWT_SECRET=cefetconnect_9xA72uRtfD_2026_jwt_senha_segura_498kZ

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=061001
DB_NAME=cefetconnect
DB_SYNCHRONIZE=false

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=